nav {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.logo {
    width: 50px;
    margin-left: 10px;
                                                                                                                                                                                                                                                                                                                                                     
}

.nav-links {
    padding: auto;
    margin: 20px;

}

.nav-links li {
    list-style: none;
    display: inline-block;
    margin: 15px;
  

}

 li a {
    text-decoration: none;
    /* color: black; */

}

#hero-container {
    display: flex;
    padding-left: 10px;
    justify-content: center;
    margin-bottom: 71px;
}
button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
}
#profile_picture {
    width: 243px;
    height: 243px;
    border-radius: 50%;
}
#description {
    justify-content: space-around;
    margin-right: 115px;
}

#div-container {
    display: flex;
    justify-content: space-between;
    color: beige;
}
#my-div {
    background-color: purple;
    margin-right: 20px;
    padding: 20px;
    text-size-adjust: 100px;
}
#first-div {
    background-color: purple;
    margin: 20px;
    padding: 20px;
}

#post-heading {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}
#heading-parent {
    display: flex;
    justify-content: center;
}



#div-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 100px;
}
#dashboard {
    width: 246px;
    height: 180px;
    border-radius: 6px;
}



#division {

}
#button-identity {
    border-radius: 1000px;
    background-color: darkblue;
}
#my-button {
    border-radius: 1000px;
    background-color: darkblue;
}
#illustration {
    width: 246px;
    height: 180px;
    border-radius: 6px;
}
#diver {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 100px;
}
#dividend {
}
#div-5 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 100px;
}
#div-9 {

}
#typography {
    width: 246px;
    height: 180px;
    border-radius: 6px;
}
#button {
    border-radius: 1000px;
    background-color: darkblue;
}
ul {
    display: flex;
    justify-content: flex-end;
}
header {
    padding: 0 60px 0 60px;
}
#divider {
    display: flex;
    justify-content: center;
    gap: 35px;

}
section {
    padding: 0 146px 0 146px;
}
h1 {
    margin-bottom: 40px;
    width: 260px;
}
#para-9 {
    margin-bottom: 40px;
}
#images {
    width: 30px;
}

#instagram {
    width: 30px;
}

#facebook {
    width: 30px;
}

#twitter {
    width: 30px;
}
span {
    margin: 0 20px 0 20px;
}


#line {
    border-bottom: 1px solid grey;
    margin: 50px 0 31px 0;
}